.high{
  background-color: #F44336;
}
.medium{
  background-color: #FFEB3B;
}
.low{
  background-color: #4CAF50;
}
.priority{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  /* right: 0px; */
  width: 15px;
  /* height: 15px; */
}
.card{
  height: auto;
  padding: 0px;
}
.a{
  padding: 0px 20px 10px 20px;
}
.b{
  font-weight: 400;
  font-size: 14pt;
  padding: 20px 20px 0px 20px;
}
