.high{
  border-left: 5px solid #F44336;
}
.medium{
  border-left: 5px solid #FFEB3B;
}
.low{
  border-left: 5px solid #4CAF50;
}
.priority{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  /* right: 0px; */
  width: 15px;
  /* height: 15px; */
}
.card{
  height: auto;
  /* padding: 0px; */
  flex-shrink: 1;
  width: 24%;
  margin: .5%;
}
.a{
  /* padding: 0px 20px 10px 20px; */
}
.b{
  font-weight: 400;
  font-size: 14pt;
  /* padding: 20px 20px 0px 20px; */
}

.card-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;

}
