<mat-card class="card ">
  <div class="priority high"></div>
  <mat-card-header>
    <mat-card-title class="b">Work on front-end for thesis</mat-card-title>
    <mat-card-subtitle class="a">Finish the home page and create template components for Tasks and Announcements and hopefully calendar</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<mat-card class="card ">
  <div class="priority medium"></div>
  <mat-card-header>
    <mat-card-title class="b">Review for math exam</mat-card-title>
    <mat-card-subtitle class="a">Review from Matrices, functions of Matrices, Vectors, Area of a Polygon</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<mat-card class="card ">
  <div class="priority low"></div>
  <mat-card-header>
    <mat-card-title class="b">Replace old toothbrush</mat-card-title>
    <mat-card-subtitle class="a">Current tooth brush is getting really old. Replace it when you have time.</mat-card-subtitle>
  </mat-card-header>
</mat-card>
