<div class="container">
  <mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="image"></div>
    <mat-card-title>Elijah Reyes</mat-card-title>
    <mat-card-subtitle>45 min</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    ATTENTION! <br>
    No Classes tomorrow, Friday, February 9, 2018, due to heavy rainfall.
  </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="image"></div>
      <mat-card-title>Lerma Atilano Pantorilla</mat-card-title>
      <mat-card-subtitle>45 min</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      ATTENTION! <br>
Please be informed that starting tomorrow, Thursday, February 8, Claymation Classes and Overnight Schedule at Rm 1008 will be at Rm 402, our new Claymation Room. Thanks.
  </mat-card-content>
  </mat-card>


</div>
