
input{
  padding: 10px;
  border: none;
  margin-bottom: 20px;
}
input:focus{
  outline: none;
}
input::placeholder{
  color: rgb(148, 148, 148);
}

mat-form-field{
  width: 100%;
}
.input-title{
  font-size: 24pt;
  background-color: rgba(185, 185, 185, 0.2);

}
.input-title::placeholder{
  font-size: 24pt;
}

.input-description{
  font-size: 12pt;
  width: calc(100% - 24px);
  height: 200px;
  vertical-align: top;
  text-align: left;
  background-color: rgba(185, 185, 185, 0.2);
  resize:none;
  border: none;
  padding: 10px;
  margin-bottom: 20px;

}
.input-description:focus{
  outline:none;
}
.mat-form-field-underline{
  background-color: white;
}

input[type="number"]{
  width: 60px;
  padding: 10px;
  background-color: rgba(185, 185, 185, 0.2);
}
